 <template>
    <div class="container">
       <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Account Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Account Name</th>
                    <th>Bank Number</th>
                    <th>Bank Name</th>
                    <th>Bank Phone</th>
                    <th>Bank Address</th>
                    <th>Balance</th>
                    <th>Type</th>
                    <th>Status</th>                 
                    <th>Modify</th>
                  </tr>
                  <tr v-for="account in accounts.data" :key="account.id">
                    <td>{{account.id}}</td>
                    <td>{{account.name | upText}}</td>
                    <td>{{account.bank_number}}</td>
                    <td>{{account.bank_name | upText}}</td>
                    <td>{{account.bank_phone}}</td>
                    <td>{{account.bank_address}}</td>
                    <td>{{account.opening_balance}}</td>
                    <td>{{account.type }}</td>
                    <td>{{account.enabled}}</td>
                    
                    <td>
                        <a href="#" @click="editModal(account)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteAccount(account.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="accounts" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Account's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateAccount() : createAccount()">
                    <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                placeholder="Enter Name Account"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.bank_number" type="text" name="bank_number"
                                placeholder="Enter Bank Number"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bank_number') }">
                        <has-error :form="form" field="bank_number"></has-error>
                    </div>

                      <div class="form-group">
                            <input v-model="form.bank_name" name="bank_name" id="bank_name"
                                placeholder="Enter Bank Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bank_name') }">
                        <has-error :form="form" field="bank_name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.bank_phone" name="bank_phone" id="bank_phone"
                                placeholder="Enter Bank Phone"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bank_phone') }">
                        <has-error :form="form" field="bank_phone"></has-error>
                    </div>

                    <div class="form-group">
                            <textarea v-model="form.bank_address" name="bank_address" id="bank_address"
                                placeholder="Enter Bank Address"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bank_address') }"></textarea>
                        <has-error :form="form" field="bank_address"></has-error>
                    </div>
                    <div class="form-group">
                            <input v-model="form.opening_balance" name="opening_balance" id="opening_balance"
                                placeholder="Enter Opening Balance"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('opening_balance') }">
                        <has-error :form="form" field="opening_balance"></has-error>
                    </div>
                    
                    <div class="form-group">
                            <select v-model="form.type" name="type" id="type" 
                                class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value="">Select Status Account</option>
                                <option value="piutang">Piutang</option>
                                <option value="hutang">Hutang</option>
                                <option value="kas">KAS</option>
                                <option value="retur">Retur Penjualan</option>
                                <option value="diskon">Diskon Penjualan</option>
                                <option value="shipping">Biaya Pengiriman</option>
                                <option value="packing">Biaya Packing</option>
                                <option value="revenue">Penjualan</option>
                                <option value="expense">Pembelian</option>
                                <option value="bank">Bank Account</option>
                            </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                   

                    <div class="form-group">
                      
                      <select v-model="form.enabled" id="enabled" class="form-control  select2" :class="{ 'is-invalid': form.errors.has('enabled') }">
                           
                          <option v-for="dat in enabled " :key="dat.id" v-bind:value="dat.enable">{{dat.ket}}</option>
                      </select>
                    </div>
                  

                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>

                    </form>
                </div>
                


                </div>
                
            </div>
            </div>
            

    </div>



</template>

<script>
     export default {
        data() {
            return {
                editmode: false,
                accounts : {},
                form: new Form({
                    id:'',
                    name:'',
                    bank_number:'',
                    bank_name:'',
                    bank_phone:'',
                    bank_address:'',
                    opening_balance:'',
                    type:'',
                    enabled:null,
                }),
                enabled: [
                             {id:'1',enable:true,ket:"Active"},
                             {id:'2',enable:false,ket:"NonActive"},
                            ],
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/v1/accounts?page=' + page)
                    .then(response => {
                        this.accounts = response.data;
                    });
		    },
            updateAccount(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/accounts/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(account   ){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(account)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteAccount(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/accounts/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadAccount(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/accounts").
                    then(({data})=>(this.accounts=data));
                }
            },
             createAccount(){
                this.$Progress.start();
                this.form.post('api/v1/accounts')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'Account Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/accounts/findUser?q='+query)
                .then((data)=>{
                    this.accounts = data.data
                })
                .catch(()=>{

                })
            })
            this.loadAccount();
            Fire.$on('AfterCreate',()=>{
                this.loadAccount();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
