 <template>
    <div class="container">
        <div>

        </div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- Status end-->
      <!-- Table -->
       <div class="row mt-2" >
           <div class="col-md-12">
             <div class="card">
               <div class="card-header">
                 <h3 class="card-title">Orders</h3>
                  <div class="card-tools">
                   <button type='button' class="btn btn-info" @click="addNewRow">
                     <i class="fas fa-user-plus fa-fw " ></i>
                     Add
                   </button>
                     <button type='button' class="btn btn-success" @click="addNewRow">
                     <i class="fas fa-user-plus fa-fw " ></i>
                     Save
                   </button>  
                 </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body table-responsive p-0">
                 <table class="table table-hover">
                   <tbody>
                     
                         <tr>
                           <th width="5%">Modify</th>
                           <th width="10%">Report Date</th>
                           <th>Name</th>
                           <th>Lead</th>
                           <th>Closing</th>
                           <th>Payment</th>
                           <th>Category</th>
                           <th>Notes</th>
                           <th>Rate</th>
                         </tr>
                           <tr v-for="(deal, k) in deals.data" :key="k">
                           <td scope="row" class="trashIconContainer">
                               <i class="fa fa-trash red" @click="deleteRow(k, deal)"></i>
                           </td>
                           <td>
                               <input class="form-control" type="date" v-model="deal.reportdate" />
                           </td>
                           <td>
                               <input class="form-control" type="text" v-model="deal.name" />
                           </td>
                           <td>
                               <input class="form-control text-right" type="number" min="0" step=".01" v-model="deal.lead" @change="calculateLineTotal()"
                               />
                           </td>
                           <td>
                               <input v-on:keyup.enter="createUser()" class="form-control text-right" type="number" min="0" step=".01" v-model="deal.closing" @change="calculateLineTotal()"
                               />
                           </td>
                           <td>
                               <input class="form-control text-right" type="number" min="0" step=".01" v-model="deal.payment_method" @change="calculateLineTotal(deal)"
                               />
                           </td>
                           <td>
                               <input class="form-control text-right" type="number" min="0" step=".01" v-model="deal.type" />
                           </td>
                           <td>
                               <input  class="form-control text-right" type="text" min="0" step=".01" v-model="deal.notes" />
                           </td>
                            <td>
                               <input readonly class="form-control text-right" type="text" min="0" step=".01" v-model="deal.rate" />
                           </td>
                 </tr>
                 <tr>
                     <td scope="row" class="trashIconContainer">
                        <i class="fas fa-plus-circle blue"   @click="addNewRow"></i>
                        
                     </td>
                 </tr>
                 </tbody></table>
               </div>
               <!-- /.card-body -->
             </div>
             <!-- /.card -->
           </div>
         
         <!-- Table end-->
        </div>
        

    </div>



    
</template>

<script>
     export default {
        data() {
            return {
                editmode: false,
                deals: {},
                
                form: new Form({
                    reportdate: '',
                    name: '',
                    lead: '',
                    closing: '',
                    payment_method: '',
                    type: '',
                    note: '',
                    rate:0
                })
            }

         
        },
        methods: {
            saveInvoice() {
            console.log(JSON.stringify(this.form));
        },
        say: function(message){
            alert(message);
        }
        ,

        newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
        },
        createUser(){
                this.$Progress.start();
                this.form.post('api/user')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    //$('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            },

        calculateTotal() {
            var subtotal, total;
            subtotal = this.form.reduce(function (sum, product) {
                var lineTotal = parseFloat(product.line_total);
                if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);

            this.invoice_subtotal = subtotal.toFixed(2);

            total = (subtotal * (this.invoice_tax / 100)) + subtotal;
            total = parseFloat(total);
            if (!isNaN(total)) {
                this.invoice_total = total.toFixed(2);
            } else {
                this.invoice_total = '0.00'
            }
            //save data
           

        },
                calculateLineTotal(form) {
            var total = parseFloat(form.closing) / parseFloat(form.lead);
            if (!isNaN(total)) {
                form.rate = total.toFixed(2);
            }
            this.calculateTotal();
        },
        deleteRow(index, form) {
            var idx = this.form.indexOf(form);
            console.log(idx, index);
            if (idx > -1) {
                this.form.splice(idx, 1);
            }
            this.calculateTotal();
        },
            addNewRow() {
            this.form.push({
                    reportdate: '',
                    name: '',
                    lead: '',
                    closing: '',
                    payment_method: '',
                    type: '',
                    note: '',
                    rate:0
            })}
    
        },
        
        created() {
            
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
