 <template>
    <div class="container">
         <div class="row mt-2">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- Status end-->
       <div class="row mt-5" v-if="$gate.isAdminOrUser()">
          <div class="col-md-12">
              
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                
                </div>



              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Report</th>
                    <th>name</th>
                    <th>lead</th>
                    <th>closing</th>
                    <th>payment_method</th>
                    <th>type</th>
                    <th>notes</th>
                  </tr>
                  <tr v-for="deal in deals.data" :key="deal.id">
                    <td>{{deal.id}}</td>
                    <td>{{deal.reportdate | myDate}}</td>
                    <td>{{deal.name }}</td>
                    <td>{{deal.lead  }}</td>
                    <td>{{deal.closing  }}</td>
                    <td>{{deal.payment_method  }}</td>
                    <td>{{deal.type}}</td>
                    <td>{{deal.notes }}</td>
                    
                    <td>
                        <a href="#" @click="editModal(deal)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteDeal(deal.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="deals" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrUser()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update User's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateUser() : createUser()">
                    <div class="form-group">
                            <input v-model="form.reportdate" type="date" name="reportdate"
                                placeholder="Date of Report"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('reportdate') }">
                        <has-error :form="form" field="reportdate"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                placeholder="Name Product"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                      <div class="form-group">
                            <input type="number" v-model="form.lead" name="lead" id="lead" placeholder="Lead"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('lead') }">
                        <has-error :form="form" field="lead"></has-error>
                    </div>

                    <div class="form-group">
                            <input type="number" v-model="form.closing" name="closing" id="closing"
                                placeholder="Closing"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('closing') }">
                        <has-error :form="form" field="closing"></has-error>
                    </div>

                    
                    <div class="form-group">
                            <select v-model="form.payment_method" name="payment_method" id="payment_method" 
                                class="form-control" :class="{ 'is-invalid': form.errors.has('payment_method') }">
                                <option value="">Payment Method</option>
                                <option value="cst">Transfer</option>
                                <option value="cod">COD</option>
                            </select>
                        <has-error :form="form" field="payment_method"></has-error>
                    </div>

                  <div class="form-group">
                            <select v-model="form.type" name="type" id="type" 
                                class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value="">Category</option>
                                <option value="fashion">Fashion</option>
                                <option value="solusion">Solusi</option>
                            </select>
                        <has-error :form="form" field="payment_method"></has-error>
                    </div>
                     <div class="form-group">
                            <textarea v-model="form.notes" name="notes" id="notes"
                                placeholder="Notes"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('notes') }"></textarea>
                        <has-error :form="form" field="notes"></has-error>
                    </div>

                    

                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>

                    </form>
                </div>
                


                </div>
                
            </div>
            </div>
            

    </div>



</template>

<script>
     export default {
        data() {
            return {
                editmode: false,
             
                deals : {},
                form: new Form({
                    id:'',
                    reportdate:'',
                    name : '',
                    lead: '',
                    closing: '',
                    payment_method: '',
                    type: '',
                    notes: '',
                   
                })
            }
        },
        methods: {
            
            getResults(page = 1) {
                axios.get('api/deal?page=' + page)
                    .then(response => {
                        this.deals = response.data;
                    });
		    },
            updateUser(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/deal/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(deal){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(deal)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteDeal(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/deal/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadDeal(){
                if(this.$gate.isAdminOrUser()){
                    axios.get("api/deal").then(({data})=>(this.deals=data));
                }
            },
             createUser(){
                this.$Progress.start();
                this.form.post('api/deal')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/findDeal?q='+query)
                .then((data)=>{
                    this.deals = data.data
                })
                .catch(()=>{

                })
            })
            this.loadDeal();
            
            Fire.$on('AfterCreate',()=>{
                this.loadDeal();
                
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
