 <template>
    <div class="container">
       <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employees Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Branch</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Account</th>
                    <th>NIP</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="employee in employees.data" :key="employee.id">
                    <td>{{employee.id}}</td>
                    <td>{{employee.branch |upText}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.account | upText}}</td>
                    <td>{{employee.nip}}</td>
                    <th>{{employee.address}}</th>
                    <th>{{employee.phone}}</th>                 
                    <td>
                        <a href="#" @click="editModal(employee)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteEmployee(employee.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="employees" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Employee's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateEmployee() : createEmployee()">

                    <div class="form-group">
                            <select v-model="form.branch_id" id="branch_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('branch_id') }">
                               <option v-for="branch in branchs.data " :key="branch.id" v-bind:value="branch.id">{{branch.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.department_id" id="department_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('department_id') }">
                               <option v-for="department in departments.data " :key="department.id" v-bind:value="department.id">{{department.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.designation_id" id="designation_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('designation_id') }">
                               <option v-for="designation in designations.data " :key="designation.id" v-bind:value="designation.id">{{designation.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.account_id" id="account_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('account_id') }">
                               <option v-for="account in accounts.data " :key="account.id" v-bind:value="account.id">{{account.name}}</option>
                            </select>
                    </div>


                        <div class="form-group">
                            <input v-model="form.nip" type="text" name="nip"
                                placeholder="Enter NIP "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('nip') }">
                        <has-error :form="form" field="nip"></has-error>
                    </div>

                      <div class="form-group">
                            <textarea v-model="form.address" name="address" id="address"
                                placeholder="Enter Address "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                        <has-error :form="form" field="address"></has-error>
                    </div>
                    
                    <div class="form-group">
                            <textarea v-model="form.phone" name="phone" id="phone"
                                placeholder="Enter Phone"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }"></textarea>
                        <has-error :form="form" field="phone"></has-error>
                    </div>
                    
                    <div class="form-group">
                            <select v-model="form.province_id" id="province_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('province_id') }">
                               <option v-for="province in provins.data " :key="province.id" v-bind:value="province.id">{{province.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.city_id" id="city_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('city_id') }">
                               <option v-for="city in cities.data " :key="city.id" v-bind:value="city.id">{{city.name}}</option>
                            </select>
                    </div>

                            <div class="form-group">
                              <select v-model="form.county_id" id="county_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('county_id') }">
                                   
                                  <option v-for="county in counties.data " :key="county.id" v-bind:value="county.id">{{county.name}}</option>
                              </select>
                        </div>
                    


                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
    </div>
</template>

<script>

     export default {
        data() {
            return {
                editmode: false,
                provins :{},
                cities:{},
                counties:{},
                employees : {},
                branchs:{},
                departments:{},
                designations:{},
                accounts:{},
                form: new Form({
                    id:'',
                    branch_id:'',
                    department_id:'',
                    designation_id:'',
                    account_id:'',
                    nip:'',
                    address:'',
                    phone:'',
                    province_id:'',
                    city_id:'',
                    county_id:'',
                }),
                
            }
        },
         methods: {
            getResults(page = 1) {
                axios.get('api/v1/employees?page=' + page)
                    .then(response => {
                        this.employees = response.data;
                    });
		    },
            updateEmployees(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/employees/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(employee){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(employee)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteCustomer(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/employees/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadEmployee(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/employees").then(({data})=>(this.employees=data));
                }
            },
            loadBranch(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/branchs").then(({data})=>(this.branchs=data));
                }
            },
            loadDepartment(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/departments").then(({data})=>(this.departments=data));
                }
            },
            loadAccount(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/accounts").then(({data})=>(this.accounts=data));
                }
            },

            loadProvince(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/provinces").then(({data})=>(this.provins=data));
                }
            },
            loadCity(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/cities").then(({data})=>(this.cities=data));
                }
            },
            loadCounty(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/counties").then(({data})=>(this.counties=data));
                }
            },
             createEmployee(){
                this.$Progress.start();
                this.form.post('api/v1/employees')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'Employee Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/employees/findCustomer?q='+query)
                .then((data)=>{
                    this.employees = data.data
                })
                .catch(()=>{

                })
            })
            this.loadEmployee();
            this.loadProvince();
            this.loadCity();
            this.loadCounty();
            Fire.$on('AfterCreate',()=>{
                this.loadEmployee();
                this.loadProvince();
                this.loadCity();
                this.loadCounty();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
