 <template>
    <div class="container">
        <div>

        </div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- Status end-->
      <!-- Table -->
       <div class="row mt-2" v-if="$gate.isAdminOrAuthor()">
           

        <!--Tab -->
            <div class="col-md-12">
            <b-tabs content-class="mt-3"  align="center">
            <b-tab title="Invoices" active>
                <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Registered At</th>
                    <th>Modify</th>
                  </tr>
                  <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>
                        <a href="#" @click="editModal()">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteUser()">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="users" 
                  @pagination-change-page="getResults"></pagination>
              </div>

                
                </b-tab>
                
                <b-tab title="Add New Invoices">
                     <!-- Table start -->
                            
                            <div class="col-md-12">
                            <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Orders</h3>
                                <div class="card-tools">
                                
                                
                                </div>
                            </div>
                            <!-- /.card-header -->
                            
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control" placeholder="Customer">
                                                        <span class="input-group-append">
                                                        <button type="button" class="btn btn-info btn-flat">Go!</button>
                                                        </span>
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Payment Method">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Shipping">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Postal Fee">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Invoice Date">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Due Date">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Invoice Number">
                                                    </div>
                                            </div>

                                            <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                            </div>
                                                            <input type="email" class="form-control" placeholder="Order Number">
                                                    </div>
                                            </div>

                                        </div>

                                    </form> 
                        
                                </div>
                            
                     
                            <div class="card-body table-responsive p-0">
                                
                                <table class="table table-hover">
                                <tbody>
                                        <tr>
                                        <th>Modify</th>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        </tr>
                                            <tr v-for="(invoice_product, k) in invoice_products" :key="k">
                                                    <td scope="row" class="trashIconContainer">
                                                        <i class="fa fa-trash red" @click="deleteRow(k, invoice_product)"></i> 
                                                        
                                                    </td>

                                                    
                                                    <td>
                                                        <input class="form-control" type="text" v-model="invoice_product.product_name" />
                                                    </td>
                                                    
                                                    <td>
                                                        <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
                                                        />
                                                    </td>
                                                    
                                                    <td>
                                                        <input v-on:keyup.enter="createUser()" class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
                                                        />
                                                    </td>
                                                    
                                                    <td>
                                                        <input readonly class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.line_total" />
                                                    </td>
                                            </tr>
                                            
                                            <tr>
                                                <td colspan="6" scope="row" class="trashIconContainer">
                                                        
                                                        <i class="fas fa-plus-circle green" @click="addNewRow"></i> 
                                                </td>
                                            </tr>
                                </tbody></table>

                                <div class="row">

                                </div>

                            </div>
                     
                            <!-- /.card-body table-->
                            <!-- Bottom-->
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered">
                                               
                                            <tr>
                                                <td coolspan="5" align="right">Subtotal</td>
                                                <td>Rp.000</td>
                                            </tr>
                                            <tr>
                                                <td  coolspan="5" align="right">Add Discount</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td  coolspan="5" align="right">Tax</td>
                                                <td>Rp0,0</td>

                                            </tr>
                                            <tr>
                                                <td  coolspan="5" align="right">Total</td>
                                                <td>Rp0,0</td>

                                            </tr>
                                            </table>
                                        </div>
                                    </div>


                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                   <div class="form-group">
                                                        <label>Notes</label>
                                                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                                    </div>
                                            </div>

                                             <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control" placeholder="Category">
                                                        <span class="input-group-append">
                                                        <button type="button" class="btn btn-info btn-flat">Go!</button>
                                                        </span>
                                                    </div>
                                            </div>

                                             <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                       <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="customFile">
                                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                                       </div>

                                                    </div>
                                            </div>
                                            

                                        </div>

                                    </form> 
                        
                                </div>
                            <!-- Bottom -->
                            </div>
                            <!-- /.card -->

                            


                        </div>
                        
                        <!-- Table end-->
                        
                </b-tab>
                
            </b-tabs>
            </div>
        <!--Tab -->

        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div> 

   

    </div>
    
</template>

<script>
     export default {
        data() {
            return {
                editmode: false,
                orders: {},
                invoice_subtotal: 0,
                invoice_total: 0,
                invoice_tax: 5,
                invoice_products: [{
                    product_no: '',
                    product_name: '',
                    product_price: '',
                    product_qty: '',
                    line_total: 0
                }],
                items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ]
            }

         
        },
        methods: {
        say: function(message){
            alert(message);
        }
        ,

        newModal(){
                this.editmode = false;
                 this.invoice_products.reset();
                 $('#addNew').modal('show')
        },
        createUser(){
                this.$Progress.start();
                this.form.post('api/user')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    //$('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            },

        calculateTotal() {
            var subtotal, total;
            subtotal = this.invoice_products.reduce(function (sum, product) {
                var lineTotal = parseFloat(product.line_total);
                if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);

            this.invoice_subtotal = subtotal.toFixed(2);

            total = (subtotal * (this.invoice_tax / 100)) + subtotal;
            total = parseFloat(total);
            if (!isNaN(total)) {
                this.invoice_total = total.toFixed(2);
            } else {
                this.invoice_total = '0.00'
            }
            //save data
           

        },
                calculateLineTotal(invoice_products) {
            var total = parseFloat(invoice_products.product_price) * parseFloat(invoice_products.product_qty);
            if (!isNaN(total)) {
                invoice_products.line_total = total.toFixed(2);
            }
            this.calculateTotal();
        },
        deleteRow(index, invoice_products) {
            var idx = this.invoice_products.indexOf(invoice_products);
            console.log(idx, index);
            if (idx > -1) {
                this.invoice_products.splice(idx, 1);
            }
            this.calculateTotal();
        },
            addNewRow() {
            this.invoice_products.push({
                product_no: '',
                product_name: '',
                product_price: '',
                product_qty: '',
                line_total: 0
            })}
    
        },
        
        created() {
            
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
