 <template>
<div class="container">
        <div>

        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Total Orders</span>
                <span class="info-box-number">
                  2,000
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Total Delivered</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Pending Orders</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Orders Hold</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

<!--Card Colapse -->
<div class="card card-default collapsed-card card-outline">
          <div class="card-header "  data-widget="collapse">
            <h3 class="card-title">Form Orders</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus" ></i></button>
             
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body" style="display: none;">
            <div class="row">
                <div class="card-body">

                  <div class="row">

                     <div class="col-md-6" >

                      <p>Customer</p>
                    <div class="input-group">
                      
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nav-icon fas fa-user red"></i>
                          </span>
                        </div>
                        <select v-model="form.customer_id" id="customer_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('customer_id') }">
                        <option v-for="customer in customers.data " :key="customer.id" v-bind:value="customer.id">{{customer.name}}</option>
                      </select>
                        <div class="input-group-append">
                          <div class="input-group-text"><i class="fa fa-plus blue" @click="newModalCustomer"></i></div>
                        </div>
                      </div>

                  <p>Order Number</p>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nav-icon fas fa-cart-arrow-down"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control">
                      <div class="input-group-append">
                      </div>
                    </div>

                  

                        </div>
                        <div class="col-md-6">
                            <p>Shipping</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nav-icon fas fa-user red"></i>
                          </span>
                        </div>
                        <select v-model="form.shipping_id" id="shipping_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('shipping_id') }">
                               <option v-for="shipping in shippings.data " :key="shipping.id" v-bind:value="shipping.id">{{shipping.name}}</option>
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text"><i class="fa fa-plus blue"></i></div>
                        </div>
                      </div>


                    
                          <p>Payment Method</p>
                    <div class="input-group">

                        <div class="input-group-prepend">

                          <span class="input-group-text">
                            <i class="nav-icon fas fa-user red"></i>
                          </span>
                        </div>
                           <select v-model="form.status" id="status" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('status') }">
                                 <option v-for="dat in payment_method " :key="dat.id" v-bind:value="dat.t_status">{{dat.t_status}}</option>
                            </select>
                        <div class="input-group-append">
                          <div class="input-group-text"><i class="fa fa-plus blue"></i></div>
                        </div>
                      </div>
                        </div>
                        
                    </div><!--end row -->



                            
                </div>
                    
                        <div class="card-body table-responsive p-0">    
                            <table class="table table-hover">
                            <tbody>
                                    <tr>
                                    <th>Modify</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    </tr>
                                        <tr v-for="(invoice_product, k) in invoice_products" :key="k">
                                                <td scope="row" class="trashIconContainer">
                                                    <i class="fa fa-trash red" @click="deleteRow(k, invoice_product)"></i> 
                                                    
                                                </td>
                                                
                                                <td>
                                                    <input class="form-control" type="text" v-model="invoice_product.product_name" />
                                                </td>
                                                
                                                <td>
                                                    <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
                                                    />
                                                </td>
                                                
                                                <td>
                                                    <input v-on:keyup.enter="createOrder()" class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
                                                    />
                                                </td>
                                                
                                                <td>
                                                    <input readonly class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.line_total" />
                                                </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="6" scope="row" class="trashIconContainer">
                                                    
                                                        <i class="fas fa-plus-circle green" @click="addNewRow"></i> 
                                                </td>
                                            </tr>
                                </tbody></table>

                                <div class="row">

                                </div>

                            </div>
                     
                            <!-- /.card-body table-->
                            <!-- Bottom-->
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered">
                                               
                                            <tr>
                                                <td coolspan="5" align="right">Subtotal</td>
                                                <td>Rp.{{invoice_subtotal}}</td>
                                            </tr>
                                            <tr>
                                                <td  coolspan="5" align="right">Add Discount</td>
                                                <td>
                                                  


                                                </td>
                                            </tr>
                                            <tr>
                                                <td   coolspan="5" align="right">Tax</td>
                                                <td>{{invoice_tax}}%</td>

                                            </tr>
                                            <tr>
                                                <td  coolspan="5" align="right">Total</td>
                                                <td>Rp.{{invoice_total}}</td>

                                            </tr>
                                            </table>
                                        </div>
                                    </div>


                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                   <div class="form-group">
                                                        <label>Notes</label>
                                                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                                    </div>
                                            </div>

                                             <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control" placeholder="Category">
                                                        <span class="input-group-append">
                                                        <button type="button" class="btn btn-info btn-flat">Go!</button>
                                                        </span>
                                                    </div>
                                            </div>

                                             <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                       <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="customFile">
                                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                                       </div>

                                                    </div>
                                            </div>
                                            

                                        </div>

                                    </form> 
                        
                                </div>
                            <!-- Bottom -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer" style="display: none;">
            Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
            the plugin.
          </div>
        </div>
<!--Card Colapse -->

       <div class="row " v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>Delivery Date</th>
                    <th>Payment Method</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Modify</th>
                  </tr>
                  
                  <tr v-for="order in orders.data" :key="order.id">
                    <td>{{order.id}}</td>
                    <td>{{order.order_number |upText}}</td>
                    <td>{{order.shipping_id}}</td>
                    <td>{{order.processed_at}}</td>
                    <td>{{order.product_id | upText}}</td>
                    <td>{{order.amount}}</td>                 
                    <td>
                        <a href="#" @click="editModal(order)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteOrder(order.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="orders" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade bd-example-modal-xl" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Customer's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateOrder() : createOrder()">
                    
                    <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                placeholder="Enter Name  "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.email" type="text" name="email"
                                placeholder="Enter Email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                        <div class="form-group">
                            <input v-model="form.phone" type="text" name="phone"
                                placeholder="Enter Phone "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                        <has-error :form="form" field="phone"></has-error>
                    </div>

                      <div class="form-group">
                            <textarea v-model="form.address" name="address" id="address"
                                placeholder="Enter Address "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                        <has-error :form="form" field="address"></has-error>
                    </div>
                    
                    <div class="form-group">
                            <select v-model="form.shipping_id" id="shipping_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('shipping_id') }">
                               <option v-for="shipping in shippings.data " :key="shipping.id" v-bind:value="shipping.id">{{shipping.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.customer_id" id="customer_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('customer_id') }">
                               <option v-for="customer in customers.data " :key="customer.id" v-bind:value="customer.id">{{customer.name}}</option>
                            </select>
                    </div>

                            <div class="form-group">
                              <select v-model="form.employee_id" id="employee_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('employee_id') }">
                                   
                                  <option v-for="employee in employees.data " :key="employee.id" v-bind:value="employee.id">{{employee.name}}</option>
                              </select>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                              <select v-model="form.status" id="status" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('status') }">
                                   
                                  <option v-for="dat in statuses " :key="dat.id" v-bind:value="dat.t_status">{{dat.t_status}}</option>
                              </select>
                            </div>
                        </div>


                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            <!-- modal Customer -->
                    <!-- Modal -->
            <div class="modal fade bd-example-modal-xl" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Customer</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Customer's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateCustomer() : createCustomer()">
                    <div class="form-group">
                            <input v-model="formCust.name" type="text" name="name"
                                placeholder="Enter Name  "
                                class="form-control" :class="{ 'is-invalid': formCust.errors.has('name') }">
                        <has-error :form="formCust" field="name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="formCust.email" type="text" name="email"
                                placeholder="Enter Email"
                                class="form-control" :class="{ 'is-invalid': formCust.errors.has('email') }">
                        <has-error :form="formCust" field="email"></has-error>
                    </div>

                        <div class="form-group">
                            <input v-model="formCust.phone" type="text" name="phone"
                                placeholder="Enter Phone "
                                class="form-control" :class="{ 'is-invalid': formCust.errors.has('phone') }">
                        <has-error :form="formCust" field="phone"></has-error>
                    </div>

                      <div class="form-group">
                            <textarea v-model="formCust.address" name="address" id="address"
                                placeholder="Enter Address "
                                class="form-control" :class="{ 'is-invalid': formCust.errors.has('address') }"></textarea>
                        <has-error :form="formCust" field="address"></has-error>
                    </div>
                    
                    <div class="form-group">
                            <select v-model="formCust.province_id" id="province_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('province_id') }">
                               <option v-for="province in provins.data " :key="province.id" v-bind:value="province.id">{{province.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.city_id" id="city_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('city_id') }">
                               <option v-for="city in cities.data " :key="city.id" v-bind:value="city.id">{{city.name}}</option>
                            </select>
                    </div>

                            <div class="form-group">
                              <select v-model="formCust.county_id" id="county_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('county_id') }">
                                   
                                  <option v-for="county in counties.data " :key="county.id" v-bind:value="county.id">{{county.name}}</option>
                              </select>
                        </div>
                    
                     <div class="form-group">
                      
                      <select v-model="formCust.enabled" id="enabled" class="form-control  select2" :class="{ 'is-invalid': form.errors.has('enabled') }">
                           
                          <option v-for="dat in enabled " :key="dat.id" v-bind:value="dat.enable">{{dat.ket}}</option>
                      </select>
                    </div>


                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            <!-- modal Edit -->
    </div>
    <!-- end Container -->
   
</template>

<script>
     export default {
       
        data() {
            return {
                editmode: false,
                shippings :{},
                customers:{},
                employees:{},
                products:{},
                orders : {},
                form: new Form({
                    id:'',
                    order_number : '',
                    shipping_id: '',
                    customer_id: '',
                    employee_id: '',
                    product_id:'',
                    payment_method:'',
                    net_profit:'',
                    processed_at:'',
                    amount:'',
                    status:'',
                }),
                invoice_subtotal: 0,
                invoice_total: 0,
                invoice_tax: 10,
                diskon:100,
                invoice_products:[{
                    product_no: '',
                    product_name: '',
                    product_price: '',
                    product_qty: '',
                    line_total: 0

            }],
                statuses:   [
                             {id:'1',t_status:'delivered'},
                             {id:'2',t_status:'pending'},
                             {id:'3',t_status:'processing'},
                             {id:'4',t_status:'canceled'},
                            ],
                payment_method: 
                            [
                             {id:'1',t_status:'COD'},
                             {id:'2',t_status:'TRANSFER'},
                            ], 
                provins :{},
                cities:{},
                counties:{},
                formCust: new Form({
                    id:'',
                    name : '',
                    email: '',
                    phone: '',
                    address: '',
                    province_id:'',
                    city_id:'',
                    county_id:'',
                    enabled:null,
                    status:'',
                }),
                enabled: [
                             {id:'1',enable:true,ket:"Active"},
                             {id:'2',enable:false,ket:"NonActive"},
                            ],
            }
            //customer

        },
         methods: {
           
        calculateTotal() {
            var subtotal, total;
            subtotal = this.invoice_products.reduce(function (sum, product) {
                var lineTotal = parseFloat(product.line_total);
                if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);

            this.invoice_subtotal = subtotal.toFixed(2);

            total = (subtotal * (this.invoice_tax / 100)) + subtotal;
            total = parseFloat(total);
            if (!isNaN(total)) {
                this.invoice_total = total.toFixed(2);
                
            } else {
                this.invoice_total = '0.00'
            }
            //save data
           },
            calculateLineTotal(invoice_products) {
                  var total = parseFloat(invoice_products.product_price) * parseFloat(invoice_products.product_qty);
                  if (!isNaN(total)) {
                      invoice_products.line_total = total.toFixed(2);
                  }
                  this.calculateTotal();
        },
        deleteRow(index, invoice_products) {
            var idx = this.invoice_products.indexOf(invoice_products);
            console.log(idx, index);
            if (idx > -1) {
                this.invoice_products.splice(idx, 1);
            }
            this.calculateTotal();
        },
            addNewRow() {
            this.invoice_products.push({
                product_no: '',
                product_name: '',
                product_price: '',
                product_qty: '',
                line_total: 0
            })}
           ,
            getResults(page = 1) {
                axios.get('api/v1/orders?page=' + page)
                    .then(response => {
                        this.orders = response.data;
                    });
		    },
            updateOrder(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/orders/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(order){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(oder)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
            newModalCustomer(){
                this.editmode = false;
                 this.form.reset();
                 $('#addCustomer').modal('show')
            },
            
           deleteOrder(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/orders/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            loadOrder(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/orders").then(({data})=>(this.orders=data));
                }
            },
            loadShipping(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/shippings").then(({data})=>(this.shippings=data));
                }
            },
            loadCustomer(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/customers").then(({data})=>(this.customers=data));
                }
            },
             loadProvince(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/provinces").then(({data})=>(this.provins=data));
                }
            },
            loadCity(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/cities").then(({data})=>(this.cities=data));
                }
            },
            loadCounty(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/counties").then(({data})=>(this.counties=data));
                }
            },
            loadEmployee(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/employees").then(({data})=>(this.employees=data));
                }
            },
            loadProduct(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/products").then(({data})=>(this.products=data));
                }
            },
             createOrder(){
                this.$Progress.start();
                this.form.post('api/v1/orders')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            },
        
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/orders/findCustomer?q='+query)
                .then((data)=>{
                    this.orders = data.data
                })
                .catch(()=>{

                })
            })
            this.loadOrder();
            this.loadShipping();
            this.loadCustomer();
            this.loadEmployee();
            this.loadProduct();
            this.loadProvince();
            this.loadCity();
            this.loadCounty();
            Fire.$on('AfterCreate',()=>{
                this.loadOrder();
                this.loadShipping();
                this.loadCustomer();
                this.loadEmployee();
                this.loadProduct();
                this.loadProvince();
                this.loadCity();
                this.loadCounty();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
     }
</script>
