 <template>
    <div class="container">
       <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Order number </th>
                    <th>Customer  </th>
                    <th>Employee </th>
                    <th>Product </th>
                    <th>Payment Method </th>
                    <th>Net Profit </th>
                    <th>Processed At </th>
                    <th>Processed By </th>
                    <th>Status </th>
                  </tr>

                  <tr v-for="order in orders.data" :key="order.id">
                    <td>{{order.id}}</td>
                    <td>{{order.order_number |upText}}</td>
                    <td>{{order.customer_id}}</td>
                    <td>{{order.employee_id}}</td>
                    <td>{{order.product_id | upText}}</td>
                    <td>{{order.payment_method}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.net_profit}}</td>
                    <td>{{order.processed_at}}</td>
                    <td>{{order.processed_by}}</td>                 
                    <td>
                        <a href="#" @click="editModal(order)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteOrder(order.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="orders" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Customer's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateOrder() : createOrder()">
                    <div class="form-group">
                            <input v-model="form.order_number" type="text" name="order_number"
                                placeholder="Enter Order Number  "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('order_number') }">
                        <has-error :form="form" field="order_number"></has-error>
                    </div>

                    <div class="form-group">
                            <select v-model="form.customer_id" id="customer_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('customer_id') }">
                               <option v-for="customer in customers.data " :key="customer.id" v-bind:value="customer.id">{{customer.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.employee_id" id="employee_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('employee_id') }">
                               <option v-for="employee in employees.data " :key="employee.id" v-bind:value="employee.id">{{employee.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select v-model="form.product_id" id="product_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('product_id') }">
                               <option v-for="product in products.data " :key="product.id" v-bind:value="product.id">{{products.name}}</option>
                            </select>
                    </div>
                    
                    <div class="form-group">
                            <input v-model="form.payment_method" type="text" name="payment_method"
                                placeholder="Enter payment method  "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('payment_method') }">
                        <has-error :form="form" field="payment_method"></has-error>
                    </div>
                    <div class="form-group">
                            <input v-model="form.net_profit" type="text" name="net_profit"
                                placeholder="Enter net_profit  "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('net_profit') }">
                        <has-error :form="form" field="net_profit"></has-error>
                    </div>
                    <div class="form-group">
                            <input v-model="form.processed_at" type="date" name="processed_at"
                                placeholder="Enter processed_at"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('processed_at') }">
                        <has-error :form="form" field="processed_at"></has-error>
                    </div>

                     <div class="form-group">
                      <select v-model="form.enabled" id="enabled" class="form-control  select2" :class="{ 'is-invalid': form.errors.has('enabled') }">
                          <option v-for="dat in enabled " :key="dat.id" v-bind:value="dat.enable">{{dat.ket}}</option>
                      </select>
                    </div>


                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
    </div>
</template>

<script>

     export default {
        data() {
            return {
                editmode: false,
                products:{},
                customers:{},
                employees:{},
                orders : {},
                form: new Form({
                    id:'',
                    order_number : '',
                    shipping_id: '',
                    customer_id: '',
                    employee_id: '',
                    product_id:'',
                    payment_method:'',
                    net_profit:'',
                    processed_at:'',
                    amount:'',
                    status:'',
                }),
                
                enabled: [
                             {id:'1',enable:true,ket:"Active"},
                             {id:'2',enable:false,ket:"NonActive"},
                            ],
            }
        },
         methods: {
             setStatus(){
                 if(form.enabled){
                     form.status='Actice';
                 }else{

                 }
             },
            getResults(page = 1) {
                axios.get('api/v1/orders?page=' + page)
                    .then(response => {
                        this.orders = response.data;
                    });
		    },
            updateOrder(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/orders/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(order){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(order)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteOrder(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/orders/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadOrder(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/orders").then(({data})=>(this.orders=data));
                }
            },
            loadCustomer(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/customers").then(({data})=>(this.customers=data));
                }
            },
            loadProduct(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/products").then(({data})=>(this.products=data));

                }
            },
            loadEmployee(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/employees").then(({data})=>(this.employees=data));
                }
            }

            ,
             createOrder(){
                this.$Progress.start();
                this.form.post('api/v1/orders')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/orders/findCustomer?q='+query)
                .then((data)=>{
                    this.orders = data.data
                })
                .catch(()=>{

                })
            })
            this.loadOrder();
            this.loadCustomer();
            this.loadProduct();
            this.loadEmployee();
            Fire.$on('AfterCreate',()=>{
                this.loadOrder();
                this.loadCustomer();
                this.loadProduct();
                this.loadEmployee();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
