 <template>
    <div class="container">
        <div>

        </div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- Status end-->


      <!-- Table -->
       <div class="row mt-2" v-if="$gate.isAdminOrAuthor()">
           <div class="col-md-12">
             <div class="card">
               <div class="card-header">
                 <h3 class="card-title">Orders</h3>
                  <div class="card-tools">
                   <button type='button' class="btn btn-info" @click="addNewRow">
                     <i class="fas fa-user-plus fa-fw " ></i>
                     Add
                   </button>
                     <button type='button' class="btn btn-success" @click="addNewRow">
                     <i class="fas fa-user-plus fa-fw " ></i>
                     Save
                   </button>  
                 </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body table-responsive p-0">
                 <table class="table table-hover">
                   <tbody>
                     
                         <tr>
                           <th>Modify</th>
                           <th>No</th>
                           <th>Name</th>
                           <th>Price</th>
                           <th>Qty</th>
                           <th>Total</th>
                         </tr>
                           <tr v-for="(invoice_product, k) in invoice_products" :key="k">
                           <td scope="row" class="trashIconContainer">
                               <i class="fa fa-trash red" @click="deleteRow(k, invoice_product)"></i>
                           </td>
                           <td>
                               <input class="form-control" type="text" v-model="invoice_product.product_no" />
                           </td>
                           <td>
                               <input class="form-control" type="text" v-model="invoice_product.product_name" />
                           </td>
                           <td>
                               <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
                               />
                           </td>
                           <td>
                               <input v-on:keyup.enter="createUser()" class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
                               />
                           </td>
                           <td>
                               <input readonly class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.line_total" />
                           </td>
                 </tr>
                 </tbody></table>
               </div>
               <!-- /.card-body -->
             </div>
             <!-- /.card -->
           </div>
         
         <!-- Table end-->
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div> 

<div>
  <b-card no-body>
    <b-tabs pills card vertical>
      <b-tab title="Tab 1" active><b-card-text>Tab contents 1</b-card-text></b-tab>
      <b-tab title="Tab 2"><b-card-text>Tab contents 2</b-card-text></b-tab>
      <b-tab title="Tab 3"><b-card-text>Tab contents 3</b-card-text></b-tab>
    </b-tabs>
  </b-card>
</div>
    </div>

</template>

<script>

     export default {
            
        data() {
          
            return {
                editmode: false,
                orders: {},
                invoice_subtotal: 0,
                invoice_total: 0,
                invoice_tax: 5,
                invoice_products: [{
                    product_no: '',
                    product_name: '',
                    product_price: '',
                    product_qty: '',
                    line_total: 0
                }]
            }

         
        },
        methods: {
            saveInvoice() {
            console.log(JSON.stringify(this.invoice_products));
        },
        say: function(message){
            alert(message);
        },
        newModal(){
                this.editmode = false;
                 this.invoice_products.reset();
                 $('#addNew').modal('show')
        },
        createUser(){
                this.$Progress.start();
                this.form.post('api/user')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    //$('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            },

        calculateTotal() {
            var subtotal, total;
            subtotal = this.invoice_products.reduce(function (sum, product) {
                var lineTotal = parseFloat(product.line_total);
                if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);

            this.invoice_subtotal = subtotal.toFixed(2);

            total = (subtotal * (this.invoice_tax / 100)) + subtotal;
            total = parseFloat(total);
            if (!isNaN(total)) {
                this.invoice_total = total.toFixed(2);
            } else {
                this.invoice_total = '0.00'
            }
            //save data
           

        },
                calculateLineTotal(invoice_products) {
            var total = parseFloat(invoice_products.product_price) * parseFloat(invoice_products.product_qty);
            if (!isNaN(total)) {
                invoice_products.line_total = total.toFixed(2);
            }
            this.calculateTotal();
        },
        deleteRow(index, invoice_products) {
            var idx = this.invoice_products.indexOf(invoice_products);
            console.log(idx, index);
            if (idx > -1) {
                this.invoice_products.splice(idx, 1);
            }
            this.calculateTotal();
        },
            addNewRow() {
            this.invoice_products.push({
                product_no: '',
                product_name: '',
                product_price: '',
                product_qty: '',
                line_total: 0
            })}
    
        },
        
        created() {
            
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
