 <template>
    <div class="container">
       <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Product Table</h3>
                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Description</th>
                    <th>Sale Price</th>
                    <th>Purchase Price</th>
                    <th>Capital Price</th>
                    <th>Qty</th>
                    <th>Vendor</th>
                    <th>Category</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="user in users.data" :key="user.id">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.sale_price}}</td>
                    <td>{{product.purchase_price}}</td>
                    <td>{{product.capital_price}}</td>
                    <td>{{product.qty}}</td>
                    <td>{{product.vendor_id}}</td>
                    <td>{{product.category_id}}</td>
                    
                    <td>
                        <a href="#" @click="editModal(product)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteProduct(product.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="products" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Product's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateProduct() : createProduct()">
                    <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                placeholder="Enter Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.sku" type="text" name="sku"
                                placeholder="Enter SKU"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('sku') }">
                        <has-error :form="form" field="sku"></has-error>
                    </div>

                      <div class="form-group">
                            <textarea v-model="form.description" name="description" id="description"
                                placeholder="Enter Description"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                        <has-error :form="form" field="description"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.sale_price" name="sale_price" id="sale_price"
                                placeholder="Enter Sale Price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('sale_price') }">
                        <has-error :form="form" field="sale_price"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.purchase_price" name="purchase_price" id="purchase_price"
                                placeholder="Enter Purchase Price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('purchase_price') }">
                        <has-error :form="form" field="purchase_price"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.capital_price" name="capital_price" id="capital_price"
                                placeholder="Enter Capital Price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('capital_price') }">
                        <has-error :form="form" field="capital_price"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.qty" name="qty" id="qty"
                                placeholder="Enter Qty"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('qty') }">
                        <has-error :form="form" field="qty"></has-error>
                    </div>

                    <div class="form-group">
                            <select v-model="form.vendor_id" id="vendor_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('vendor_id') }">
                               <option v-for="vendor in vendors.data " :key="vendor.id" v-bind:value="vendor.id">{{vendor.name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <select v-model="form.category_id" id="vendor_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('category_id') }">
                               <option v-for="category in categories.data " :key="category.id" v-bind:value="category.id">{{category.name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <select v-model="form.uom_id" id="uom_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('uoms') }">
                               <option v-for="uom in uoms.data " :key="uom.id" v-bind:value="uom.id">{{uom.name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <select v-model="form.tax_id" id="uom_id" class="form-control  select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('taxs') }">
                               <option v-for="tax in taxs.data " :key="tax.id" v-bind:value="tax.id">{{tax.name}}</option>
                            </select>
                    </div>

                    <div class="form-group">
                            <input v-model="form.weight" name="weight" id="weight"
                                placeholder="Enter weight"
                                class="form-control" :class="
                                { 'is-invalid': form.errors.has('weight') }">
                        <has-error :form="form" field="weight"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.price_closing" name="price_closing" id="price_closing"
                                placeholder="Enter Price Closing"
                                class="form-control" :class="
                                { 'is-invalid': form.errors.has('price_closing') }">
                        <has-error :form="form" field="price_closing"></has-error>
                    </div>
                     <div class="form-group">
                      <select v-model="form.enabled" id="enabled" class="form-control  select2" :class="
                      { 'is-invalid': form.errors.has('enabled') }">
                          <option v-for="dat in enabled " :key="dat.id" v-bind:value="dat.enable">{{dat.ket}}</option>
                      </select>
                    </div>

                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>

                    </form>
                </div>
                </div>
            </div>
            </div>
    </div>
</template>

<script>
     export default {
        data() {
            return {
                editmode: false,
                vendors:{},
                category:{},
                uoms:{},
                taxs:{},
                products : {},
                form: new Form({
                    id:'',
                    name:'',
                    sku:'',
                    description:'',
                    sale_price:'',
                    purchase_price:'',
                    capital_price:'',
                    qty:'',
                    vendor_id:'',
                    category_id:'',
                    uom_id:'',
                    tax_id:'',
                    weight:'',
                    price_closing:'',
                    enabled:'',
                }),
                enabled: [
                             {id:'1',enable:true,ket:"Active"},
                             {id:'2',enable:false,ket:"NonActive"},
                            ],
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/v1/products?page=' + page)
                    .then(response => {
                        this.products= response.data;
                    });
		    },
            updateProduct(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/products/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(product){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(product)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteProduct(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/products/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadProduct(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/products").then(({data})=>(this.products=data));
                }
            },
            loadVendor(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/vendors").then(({data})=>(this.vendors=data));
                }
            },
            loadCategory(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/categories").then(({data})=>(this.categories=data));
                }
            },
            loadUom(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/uoms").then(({data})=>(this.uoms=data));
                }
            },
            loadTax(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/taxs").then(({data})=>(this.taxs=data));
                }
            },
             createProduct(){
                this.$Progress.start();
                this.form.post('api/v1/products')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/products/findUser?q='+query)
                .then((data)=>{
                    this.products = data.data
                })
                .catch(()=>{

                })
            })
            this.loadProduct();
            this.loadVendor();
            this.loadCategory();
            this.loadUom();
            this.loadTax();
            Fire.$on('AfterCreate',()=>{
                this.loadProduct();
                this.loadVendor();
                this.loadCategory();
                this.loadUom();
                this.loadTax();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
