<style>
    .widget-user-header{
        background-position: center center;
        background-size: cover;
        height: 400px;
    }
</style>
<template>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 mt-3">
                <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header text-white" style="background-image:url('./img/user-cover.png') ">
                <h3 class="widget-user-username">{{this.form.name}}</h3>
                <h5 class="widget-user-desc">{{this.form.type}}</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
              </div>
              
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">SALES</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">FOLLOWERS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">PRODUCTS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- End card s-->    
            </div>



            <!-- Start-->
            <div class="col-md-12">
            <div class=" card card-widget">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Activity</a></li>
                  
                  <li class="nav-item"><a class="nav-link active"  href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->

              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                   <h2>Display User Activity</h2>
                  </div>
                  <!-- /.tab-pane -->
            
                  <div class="active tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                          <input type="email"  v-model="form.name"  class="form-control" id="inputName" placeholder="Name" :class="{ 'is-invalid': form.errors.has('bio') }">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                          <input type="email" v-model="form.email"  class="form-control" id="inputEmail" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                          <has-error :form="form" field="email"></has-error>
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                        <div class="col-sm-10">
                          <textarea class="form-control"  v-model="form.bio"   id="inputExperience" placeholder="Experience" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-2 control-label">Profile Photo</label>

                        <div class="col-sm-12">
                           <input type="file" @change="updateProfile" name="photo" class="form-input" >
                        </div>
                      
                      </div>

                     <div class="form-group">
                        <label for="password"   class="col-sm-5 control-label">Passport (leave empty if not changing)</label>

                        <div class="col-sm-12">
                          <input type="password" class="form-control" v-model="form.password" id="password" placeholder="Passport"  >
                          <has-error :form="form" field="password"></has-error>
                        </div>
                      </div>
             


                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button @click.prevent="updateInfo" type="submit"  class="btn btn-success">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
                <!-- end -->
            
        </div>
    </div>
</template>

<script>
    export default {


        data(){
            return{
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: ''
                })
            }
            },
    
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            getProfilePhoto(){

              let photo = (this.form.photo.length > 200) ? this.form.photo : "img/profile/"+ this.form.photo ; 
              return "img/profile/"+ this.form.photo;
              return photo;
            },
            updateInfo(){
                this.$Progress.start();
                
                if(this.form.password == ''){
                  this.form.password=undefined;

                }
              
            
                this.form.put('api/v1/users/profile')
                .then(()=>{
                  Fire.$emit('AfterCreate');
                  this.$Progress.finish();
                })
                .catch(()=>{  
                  this.$Progress.fail();
                });
            },




           updateProfile(e){
                //console.log('uploading');

                    let file=e.target.files[0];
                    let reader = new FileReader();
                    let limit =1024 * 1024 *2;
                    if(file['size'] > limit){
                        swal.fire({
                            type: 'error',
                            title: 'Oops..',
                            text:'You are uploading a large file',
                        })
                        return false;
                    } else{
                        
                    }
                    //console.log(file);
                    //let vm=this;
                    reader.onloadend = (file)=> 
                    {
                        this.form.photo=reader.result;
                        //console.log('RESULT', reader.result)
                    }
                    reader.readAsDataURL(file);
            }
        },
        created() {
            axios.get("api/v1/users/profile")
            .then(({data})=>(this.form.fill (data)));
        }
    }
</script>
