 <template>
    <div class="container">
       <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Vendors Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success " @click="newModal">Add New  
                        <i class="fas fa-user-plus fa-fw " ></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th>Status</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="vendor in vendors.data" :key="vendor.id">
                    <td>{{vendor.id}}</td>
                    <td>{{vendor.name |upText}}</td>
                    <td>{{vendor.email}}</td>
                    <td>{{vendor.phone}}</td>
                    <td>{{vendor.address | upText}}</td>
                    <td>{{vendor.website}}</td>
                    <td>{{vendor.enabled}}</td>                 
                    <td>

                        <a href="#" @click="editModal(vendor)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteVendor(vendor.id)">
                        <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <pagination :data="vendors" 
                  @pagination-change-page="getResults"></pagination>
              </div>


            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>


        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Vendor's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form @submit.prevent="editmode ? updateVendor() : createVendor()">
                    <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                placeholder="Enter Name  "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                    <div class="form-group">
                            <input v-model="form.email" type="text" name="email"
                                placeholder="Enter Email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                        <div class="form-group">
                            <input v-model="form.phone" type="text" name="phone"
                                placeholder="Enter Phone "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                        <has-error :form="form" field="phone"></has-error>
                    </div>

                      <div class="form-group">
                            <textarea v-model="form.address" name="address" id="address"
                                placeholder="Enter Address "
                                class="form-control" :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                        <has-error :form="form" field="address"></has-error>
                    </div>

                    <div class="form-group">
                            <textarea v-model="form.website" name="website" id="website"
                                placeholder="Enter Website"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('website') }"></textarea>
                        <has-error :form="form" field="website"></has-error>
                    </div>
                    
                    
                     <div class="form-group">
                      
                      <select v-model="form.enabled" id="enabled" class="form-control  select2" :class="{ 'is-invalid': form.errors.has('enabled') }">
                           
                          <option v-for="dat in enabled " :key="dat.id" v-bind:value="dat.enable">{{dat.ket}}</option>
                      </select>
                    </div>


                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
    </div>
</template>

<script>

     export default {
        data() {
            return {
                editmode: false,
                vendors : {},
                form: new Form({
                    id:'',
                    name:'',
                    email:'',
                    tax_number:'',
                    phone:'',
                    address:'',
                    website:'',
                    enabled:null,
                    status:'',
                }),
                enabled: [
                             {id:'1',enable:true,ket:"Active"},
                             {id:'2',enable:false,ket:"NonActive"},
                            ],
            }
        },
         methods: {
             setStatus(){
                 if(form.enabled){
                     form.status='Active';
                 }else{

                 }
             },
            getResults(page = 1) {
                axios.get('api/v1/vendors?page=' + page)
                    .then(response => {
                        this.vendors = response.data;
                    });
		    },
            updateVendor(id){
                this.$Progress.start();
                //console.log('Editing data');
                this.form.put('api/v1/vendors/'+this.form.id)
                .then(()=> {
                    //success
                    $('#addNew').modal('hide')
                        swal.fire(
                         'Updated!',
                         'Information Has been Updated.',
                         'success'
                         )
                     this.$Progress.finish();
                      Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                    this.$Progress.fail();
                })
            }, 
            editModal(vendor){
                this.editmode = true;
                 this.form.reset();
                 $('#addNew').modal('show')
                 this.form.fill(vendor)
            },
            newModal(){
                this.editmode = false;
                 this.form.reset();
                 $('#addNew').modal('show')
            },
           deleteVendor(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/v1/vendors/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            
            loadVendor(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/v1/vendors").then(({data})=>(this.vendors=data));
                }
            },
            
             createVendor(){
                this.$Progress.start();
                this.form.post('api/v1/vendors')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast({
                        type: 'success',
                        title: 'User Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                axios.get('api/v1/vendors/findCustomer?q='+query)
                .then((data)=>{
                    this.vendors = data.data
                })
                .catch(()=>{

                })
            })
            this.loadVendor();
            Fire.$on('AfterCreate',()=>{
                this.loadVendor();
            });
            //console.log('Component mounted.')
            //setInterval(() => this.loadUser(),3000);
        }
    }
</script>
